.vscode/
.idea/
.DS_Store
build/
debug/
release/
# third_party/tpch_2_17_0
# third_party/tpch_2_17_0_skewed
*.tbl
*.o
qx*.txt
*0000.csv
*.log
experiments/qx/log*
*.gz
gplus_combined.txt
com-orkut*
twitter-2010*
wiki.txt
orkut.txt
*.csv
*.json
epinions.txt
dataset_descriptions.txt
slashdot.txt
citation.txt
email.txt
qentry
c3.txt
c4.txt
wiki.txt
t.txt
t1.txt